<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InstanceStore" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InstanceStore;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>